<h1>Users#create</h1>

            <button type="button" class="btn button-primary mr-5" datatoggle="modal" data-target="#signupModalCenter">
              新規登録
            </button>
            <%= render "users/new" %>
