<main>
  <div class="main-visual">
    <p class="main-text"><strong>Welcome to <br />My Kitchen</strong></p>
  </div>
</main>

<div id="about">
  <div class="about-main">
    <div class="container">
      <div class="row">
        <div class="about-group col-md-6">
          <img class="about-pop-image" src="/assets/pop-write.png" alt="">
        </div>
        <div class="col-md-6">
          <img class="about-cook-image" src="/assets/cooking-sample.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact">
    <div class="contact-group">
        <div class="contact-left">
          <p class="contact-title"><strong>Contact Us</strong></p>
            
          <div class="contact-content">
              <div class="mail-group">
                <p class="contact-chap"><strong>Mail</strong></p>
                <p class="contact-adress">
                  <a href="mailto:xxx@xxx.com">xxx@xxx.com</a>
                </p>
              </div>
              
              <div class="tel-group">
                <p class="contact-chap"><strong>Tel</strong></p>
                <p class="contact-adress">
                  <a href="tel:000-0000-0000">000-0000-0000</a>
                </p>
              </div>
              
              <div class="adress-group">
                <p class="camp-adress"><strong>Adress</strong></p>
                <p class="contact-chap">東京都渋谷区神南1丁目19番11号</p>
              </div>
          </div>
        </div>

        <div class="contact-right">
          <div class="sns-content">
            <p class="contact-chap"><strong>SNS</strong></p>
            <i class="fab fa-facebook sns-mark"></i>
            <i class="fab fa-twitter sns-mark"></i>
            <i class="fab fa-instagram sns-mark"></i>
          </div>
        </div>
  </div>
</div>